/*body{
	background: #000066;
	color: #fff;
	
}*/
.row{
	align-content: center;
}
/*.btn{
	width: 150px;
	height: 50px;
	background-color: ;
	box-shadow: 2.5px 2.5px 20px 10px #0ff;
}*/

/* --------------- navbar --------------- */

.logo{
	/*padding-left:30px;
	padding-top: 2px;*/
	height: 60px;
	width: 150px;
}

/*
@media only screen and (max-width:600px){
	.dropdown{
		align-content: right;
	}
}
.drop:active{
	box-shadow: 1px 1px 3px #fd0c99, 1px 1px 3px #ff00dd;
}
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus 
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(214, 214, 214);
  min-width: 160px;
  box-shadow: 0 0 10px #9521f3,0 0 40px #c600ee,0 0 80px #f704f7;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}*/


/* --------------- home  --------------- */

.image{
	position: relative;
	justify-content: space-between;
	align-items: center;
	 	
}
.home-text h3 span{
	color: red;
}
*/

/* --------------- about --------------- */

.social-links a{
	text-decoration: none;
	font-size: 20px;
	display: inline-block;
	transition: transform 0.6s;

}
.social-links a:hover{
	color: ;
	transform: translate(10px);
}
.social-links{
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: center;
}
.fab{
	width: 30px;
	height: 30px;
	background-color:lightblue;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 1em;
	margin-left: 2em;
	cursor: pointer;
	transition: all 0.3s;
	border-radius: 10px;
}
i.fab{
	font-size: 10px;
}

/* --------------- service --------------- */

. box div{
	border-radius: 10px;
	transition: background 0.5s,transform 0.5s;
}
. box div:hover{
	background: #ff004f;
	transform: translate(-10px);
}

/* --------------- protfolio --------------- */

.a2{
	height: 200px;
	width: 100px;
}
.portfolio-item img{
	border-radius: 10px;
	display: block;
	transition: transform 0.5s;
}
.portfolio-item:hover img{
	transform: scale(1.1);
}

/* --------------- freelancer --------------- */



/* --------------- testmonials --------------- */

.a1{
	width: 50px;
	height: 500px;
}
.carousel-item img{
	border-radius: 10px;
	display: block;
	transition: transform 0.5s;
}
.carousel-item:hover img{
	transform: scale(1.1);
}

/* --------------- contract --------------- */

.contact-form:hover button{
	transform: scale(1.1);
}
.contact-form{
	box-shadow: white;
}
.map{
	width: 400px;
	height: 200px;
}
.star{
	color: red;
	size: 25px;
}


/* --------------- footer --------------- */



